#mainImg {
    float: right;
}
#biography {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(8, 0, 61);
}
* {
    background-color: rgb(255, 207, 173);
}
main section div {
    margin-left: 20px;
    font-size: x-large;
}
header nav {
    font-weight: bold;
    color: rgba(2, 48, 2, 0.651);
}

header nav a {
    text-decoration: none;
}
header {
    color: sienna;
    text-align: center;
}

main {
    margin-top: 30px;
}
ul {
    margin-left : 20px;
    list-style: circle;
}
ul li {
    margin-left: 20px;
}
ol 
{
    margin-left: 20px;
    list-style: decimal;
}
ol li {
    margin-left: 20px;
}