#mainImg {
    
    position: absolute;
    left : 600px;
    top : 370px;
}
#biography {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(8, 0, 61);
}
* {
    background-color: rgba(255, 196, 240, 0.842);
}


main section div {
    margin-left: 20px;
    font-size: x-large;
    border: inset rgb(245, 103, 209) 4px;
}
#short {
    width: fit-content;
}
#top10 {
    width: 500px;
}
header nav {
    font-weight: bold;
    color: rgba(2, 48, 2, 0.651);
}

header nav a {
    text-decoration: none;
}
header {
    color: sienna;
    text-align: center;
}

main {
    margin-top: 30px;
}
ul {
    margin-left : 20px;
    list-style: circle;
}
ul li {
    margin-left: 20px;
}
ol 
{
    margin-left: 20px;
    list-style: decimal;
}
ol li {
    margin-left: 20px;
}